<launch>                                      
<!--map-->
<include file="$(find ias_pr2_2dnav)/pr2_2dnav.launch"/>
<!--localization correction -->
<node pkg="SnapMapICP" type="SnapMapICP" name="SnapMapICP"  output="screen">
</node>

<!-- <include file="$(find ias_kitchen_defs)/launch/ias_kitchen_model.launch"/> -->
<!-- <include file="$(find dos_pcl_ros)/launch/urdf_cloud_filter_ijrr.launch"/> -->
</launch>


