<launch>
 <node name="pcd_to_pointcloud" pkg="pcl_ros" args=" $(find furniture_classification)/data/test/scenes/chairAndDesk1.pcd 5" type="pcd_to_pointcloud" />
 <node name="split_hypothesis_node" pkg="furniture_classification" args=" -num_splits 2" type="split_hypothesis_node" />
 <node name="generate_hypothesis_node" pkg="furniture_classification" args=" -database $(find furniture_classification)/data/database/ -features sgf" type="generate_hypothesis_node" />
 <node name="fit_models_node0" pkg="furniture_classification" args=" -n 0 -database $(find furniture_classification)/data/database/ -features sgf" type="fit_models_node" /> 
 <node name="fit_models_node1" pkg="furniture_classification" args=" -n 1 -database $(find furniture_classification)/data/database/ -features sgf" type="fit_models_node" />
</launch>
