<launch>

  <group ns="/handle_detector">

    <!-- PCL Manager -->
    <node pkg="nodelet" type="nodelet" name="handle_detector_pcl_manager" args="manager" output="screen"/>

    <!-- RAW PointCloud to PointCloud2 converter -->
    <node pkg="point_cloud_converter" type="point_cloud_converter" name="convert_cloud" output="screen">
      <remap from="/points_in" to="/shoulder_cloud" />
      <remap from="/points2_out" to="/cloud_pcd" />
    </node>
  <!-- Run a passthrough filter to downsample and delimit in x direction -->
    <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/VoxelGrid handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="/cloud_pcd" />
      <rosparam>
        leaf_size: 0.01
        filter_field_name: x
        filter_limit_min: 0.0
        filter_limit_max: 1.0
      </rosparam>
    </node>

  <!-- Run a passthrough filter to delimit in y direction -->
    <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="psx/output" />
      <rosparam>
        filter_field_name: y
        filter_limit_min: -0.5
        filter_limit_max: 0.5
      </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in z direction -->
    <node pkg="nodelet" type="nodelet" name="psz" args="load pcl/PassThrough handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="psy/output" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.1
        filter_limit_max: 10.0

      </rosparam>
    </node>

    <!-- Estimate point normals -->
    <node pkg="nodelet" type="nodelet" name="normal_estimation" args="load pcl/NormalEstimation handle_detector_pcl_manager" output="screen">
      <remap from="~input"   to="psz/output" />
      <rosparam>
        k_search: 0
        radius_search: 0.1
        spatial_locator: 0
      </rosparam>
    </node>

        <!-- Segment the biggest furniture_face plane -->
    <node pkg="nodelet" type="nodelet" name="planar_segmentation" args="load pcl/SACSegmentation handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="psz/output" />
      <remap from="~normals" to="normal_estimation/output" />
      <!--13: SAC_PARALLEL_PLANE-->
      <rosparam>
        model_type: 13
        method_type: 0
        model_threshold: 0.02
        distance_threshold: 0.02
        normal_distance_weight: 0.1
        optimize_coefficients : true
        axis: [0.0, 0.0, 1.0]
        eps_angle: 0.0872664626
      </rosparam>
    </node>

    <!-- Cluster the remaining points (all-plane) -->
    <node pkg="nodelet" type="nodelet" name="biggest_furniture_face_cluster" args="load pcl/EuclideanClusterExtraction handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="psz/output" />
      <remap from="~indices" to="planar_segmentation/inliers" />
      <rosparam>
        use_indices: true
        max_queue_size: 10
        cluster_tolerance: 0.05
        spatial_locator: 0
        cluster_min_size: 50
        max_clusters: 1
        publish_indices: false
      </rosparam>
    </node>

    <!-- Extract plane indices -->
    <node pkg="nodelet" type="nodelet" name="furniture_face" args="load pcl/ExtractIndices handle_detector_pcl_manager" output="screen">
      <remap from="~input"   to="psz/output" />
      <remap from="~indices" to="planar_segmentation/inliers" />
      <rosparam>
        negative: false
      </rosparam>
    </node>

    <!-- Extract plane outlier indices -->
    <node pkg="nodelet" type="nodelet" name="furniture_face_outliers" args="load pcl/ExtractIndices handle_detector_pcl_manager" output="screen">
      <remap from="~input"   to="psz/output" />
      <remap from="~indices" to="planar_segmentation/inliers" />
      <rosparam>
        negative: true
      </rosparam>
    </node>

    <!-- Project the planar inliers -->
    <node pkg="nodelet" type="nodelet" name="furniture_face_projected_inliers" args="load pcl/ProjectInliers handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="psz/output" />
      <remap from="~indices" to="planar_segmentation/inliers" />
      <remap from="~model" to="planar_segmentation/model" />
      <rosparam>
        model_type: 13
        copy_all_data: false
        copy_all_fields: false
      </rosparam>
    </node>

    <!-- Compute the convex hull -->
    <node pkg="nodelet" type="nodelet" name="furniture_face_convex_hull" args="load pcl/ConvexHull2D handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="furniture_face_projected_inliers/output" />
    </node>

    <!-- Extract the object clusters using a polygonal prism -->
    <node pkg="nodelet" type="nodelet" name="furniture_face_prism" args="load pcl/ExtractPolygonalPrismData handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="furniture_face_outliers/output" />
      <remap from="~planar_hull"   to="furniture_face_convex_hull/output" />
      <rosparam>
        height_min: 0.03
        height_max: 0.2
        vpz: 1.3
      </rosparam>
    </node>

    <!-- Get the coresponding point cloud -->
    <node pkg="nodelet" type="nodelet" name="handle_candidates_protrude" args="load pcl/ExtractIndices handle_detector_pcl_manager" output="screen">
      <remap from="~input"   to="furniture_face_outliers/output" />
      <remap from="~indices" to="furniture_face_prism/output" />
      <rosparam>
        negative: false
      </rosparam>
    </node>

    <!-- Cluster the handles -->
    <node pkg="nodelet" type="nodelet" name="handle_candidates_clusters" args="load pcl/EuclideanClusterExtraction handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="handle_candidates_protrude/output" />
      <rosparam>
        max_queue_size: 10
        cluster_tolerance: 0.02
        spatial_locator: 0
        cluster_min_size: 40
        max_clusters: 6
      </rosparam>
    </node>

    <!-- Fit lines to the handles -->
    <node pkg="nodelet" type="nodelet" name="handle_segmentation" args="load pcl/SACSegmentation handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="handle_candidates_clusters/output" />
      <rosparam>
      <!--1: SACMODEL_LINE-->
        model_type: 1
        method_type: 0
        max_queue_size: 10
        model_threshold: 0.05
        distance_threshold: 0.05
        normal_distance_weight: 0.0
        optimize_coefficients : true
      </rosparam>
    </node>

    <!-- Project the handle inliers -->
    <node pkg="nodelet" type="nodelet" name="handle_projected_inliers" args="load pcl/ProjectInliers handle_detector_pcl_manager" output="screen">
      <remap from="~input" to="handle_candidates_clusters/output" />
      <remap from="~indices" to="handle_segmentation/inliers" />
      <remap from="~model" to="handle_segmentation/model" />
      <rosparam>
        max_queue_size: 10
        model_type: 1
        copy_all_data: false
        copy_all_fields: false
      </rosparam>
    </node>
    
    <node pkg="pcl_cloud_tools" type="pointcloud_line_pose_node" name="pointcloud_line_pose_node" output="screen">
      <param  name="sleep" value="true"/>
      <remap from="pointcloud_line_pose_node/model" to="handle_segmentation/model"/>
    </node>
  </group>
</launch>
